body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    color: darkviolet;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #4B0082; /* Couleur violet foncé pour la barre de navigation */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Disposition verticale des éléments */
    align-items: center; /* Centre les éléments horizontalement */
}

nav ul li {
    width: 100%;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555; /* Ajoute une bordure pour séparer les éléments */
}

nav ul li a:hover {
    background-color: #5F9EA0; /* Couleur de survol */
}

h1 {
    color: darkviolet;
}
